<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:if="${param.logout}">
        You have been logged out already!
    </div>
    <h1>Log in :D</h1>
    <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="userName">Login:</label>
            <input type="text" class="form-control" id="userName" name="username" pattern="[a-z]{3,20}" required>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" class="form-control" id="Password" name="password" pattern="[a-z]{3,20}" required>
        </div>
        <div class="form-group">
            <input type="checkbox" id="showPasswordCheckbox">
            <label for="showPasswordCheckbox">Show password</label>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <form>
        <div sec:authorize="!isAuthenticated()" class="form-group">
            <a th:href="@{/register}" class="text-black-50 fw-bold">Don't have an account? Click below :D</a>
        </div>
    </form>

</div>
<div sec:authorize="isAuthenticated()">
    You have been logged in already!
</div>

<script>
    const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
    const passwordInput = document.getElementById('Password');

    showPasswordCheckbox.addEventListener('change', function() {
        if (showPasswordCheckbox.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>

</body>
</html>
