<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes/List/ContactList and more!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .btn-custom {
            font-size: 16px;
            background-color: black;
            border: none;
        }
        .btn-custom2 {
            font-size: 16px;
            background-color: #124d21;
            border: none;
        }
    </style>
</head>
<body>
<div class = "container">
    <p>&nbsp;&nbsp;</p>
    <div class = "row">
        <h1> List StoreEverything</h1>
        <div class = "col-lg-8">
            <a th:href = "@{/notes/loggout}" class = "btn btn-danger float-right mb-3"> Loggout</a>
        </div>
    </div>

    <p>&nbsp;&nbsp;</p>

    <div class="row">
        <div class="col-lg-3">
            <form action="/notes/sort" method="get" class="d-flex justify-content-between">
                <select id="sortingOptions" name="sortingOption" class="form-control mr-2">
                    <option value="">Sort by:</option>
                    <option value="titleAlph">Sort by Title Alphabetically</option>
                    <option value="titleNonAlph">Sort by Title Non-Alphabetically</option>
                    <option value="categoryAlph">Sort by Category Alphabetically</option>
                    <option value="categoryNonAlph">Sort by Category Non-Alphabetically</option>
                    <option value="date">Sort by Date</option>
                </select>
                <button type="submit" class="btn btn-primary btn-custom ml-2">Apply</button>
            </form>
        </div>
    </div>



    <div class="text-right">
        <a th:href="@{/notes/new}" class="btn btn-primary btn-sm mb-3 btn-custom2">Add some notes</a>
    </div>
    <div class="text-right">
        <a th:href="@{/notes/category}" class="btn btn-primary btn-sm mb-3 btn-custom2">Add Category</a>
    </div>

    <table class="table table-sm ">
        <thead class = "table-dark">
        <tr>
            <th>
                Note_Title
            </th>
            <th>
                Link
            </th>
            <th>
                Description
            </th>
            <th>
                Remind_Date
            </th>
            <th>
                Date
            </th>
            <th>
                Category
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>

        <tbody>


        <tr th:each = "note: ${notes}">
            <td th:text = "${note.title}"></td>
            <td th:text = "${note.link}"></td>
            <td th:text = "${note.description}"></td>
            <td th:text = "${note.remind_date}"></td>
            <td th:text = "${note.date}"></td>
            <td th:text = "${note.category.name}"></td>


            <td>
                <a th:href = "@{/notes/edit/{id}(id=${note.id})}"
                   class = "btn btn-primary btn-custom">Edit</a>

<!--                <a th:href = "@{/notes/addCategory}"-->
<!--                   class = "btn btn-primary btn-custom">Add Category</a>-->

                <a th:href = "@{/notes/{id}(id=${note.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>