<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes/List/ContactList and more!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .btn-custom {
            font-size: 16px;
            background-color: black;
            border: none;
        }
        .btn-custom2 {
            font-size: 16px;
            background-color: #124d21;
            border: none;
        }
        .transparent-button {
            background-color: transparent;
            border: none;
            color: white;
        }
    </style>
</head>
<body>

<div class = "container">
    <p>&nbsp;&nbsp;</p>
    <header>
        <div class = "row">
            <h1> List StoreEverything</h1>
            <div class = "col-lg-8">
                <form th:action="@{/logout}" method="post" class="btn btn-danger float-right mb-3">
                    <input type="submit" value="Sign Out" class="transparent-button">
                </form>
            </div>
        </div>
<!--        <div th:each = "user: ${users}" class = "col-lg-8">-->
<!--            <a th:href = "@{/register/edit/{id}(id=${user.id})}"-->
<!--               class = "btn btn-primary btn-custom">Edit</a>-->
<!--        </div>-->
    </header>

    <p>&nbsp;&nbsp;</p>
    <main>
        <div class="row">
            <div class="col-lg-3">
                <form sec:authorize="hasAnyAuthority('ADMIN', 'USER')" action="/notes/sort" method="get" class="d-flex justify-content-between">
                    <select id="sortingOptions" name="sortingOption" class="form-control mr-2">
                        <option value="">Sort by:</option>
                        <option value="titleAlph">Sort by Title Alphabetically</option>
                        <option value="titleNonAlph">Sort by Title Non-Alphabetically</option>
                        <option value="categoryAlph">Sort by Category Alphabetically</option>
                        <option value="categoryNonAlph">Sort by Category Non-Alphabetically</option>
                        <option value="countCategory">Show the Most Numerous Category Only</option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-custom ml-2">Apply</button>
                </form>
            </div>
            <div class="col-lg-3">
                <form sec:authorize="hasAnyAuthority('ADMIN', 'USER')" action="/notes/filter" method="post" class="d-flex justify-content-between">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control" required>
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" required>
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
        <div class="text-right">
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/register/list}" class="btn btn-primary btn-sm mb-3 btn-custom2">ADMIN PANEL</a>
        </div>
        <div class="text-right">
            <a sec:authorize="hasAnyAuthority('ADMIN', 'USER', 'USER_WEAK')" th:href="@{/note/share}" class="btn btn-primary btn-sm mb-3 btn-custom2">USER PANEL</a>
        </div>
        <div class="text-right">
            <a sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:href="@{/notes/new}" class="btn btn-primary btn-sm mb-3 btn-custom2">Add some notes</a>
        </div>
        <div class="text-right">
            <a sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:href="@{/notes/category}" class="btn btn-primary btn-sm mb-3 btn-custom2">Add Category</a>
        </div>
<!--        <div th:each = "note: ${notes}" class  = "text-right">-->
<!--            <a th:href="@{/register/edit/{id}(id=${users.id})}" class="btn btn-primary btn-sm mb-3 btn-custom2">EditYpurselfawfawf</a>-->
<!--        </div>-->
        <table class="table table-sm ">
            <thead class = "table-dark">
            <tr>
                <th>
                    Note_Title
                </th>
                <th>
                    Link
                </th>
                <th>
                    Description
                </th>
                <th>
                    Remind_Date
                </th>
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>

            <tbody>


            <tr th:each = "note: ${notes}">
                <td th:text = "${note.title}"></td>
                <td th:text = "${note.link}"></td>
                <td th:text = "${note.description}"></td>
                <td th:text = "${note.remind_date}"></td>
                <td th:text = "${note.date}"></td>
                <td th:text = "${note.category.name}"></td>


                <td>
                    <a th:href = "@{/notes/edit/{id}(id=${note.id})}"
                       class = "btn btn-primary btn-custom">Edit</a>

                    <a th:href = "@{/notes/{id}(id=${note.id})}"
                       class = "btn btn-danger">Delete</a>

                    <a th:href="@{/notes/share/{id}(id=${note.id})}"
                       class = "btn btn-danger">Share</a>

                </td>
            </tr>
            </tbody>
        </table>
    </main>

</div>

</body>
</html>