<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz rejestracji</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Rejestracja</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="firstname">Name:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" th:field="*{firstname}" pattern="[A-Za-z]{3,20}" required>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastname}" pattern="[A-Za-z]{3,50}" required>
        </div>
        <div class="form-group">
            <label for="userName">Login:</label>
            <input type="text" class="form-control" id="userName" name="username" th:field="*{username}" pattern="[a-z]{3,20}" required>
        </div>
        <div class="form-group">
            <input type="checkbox" id="showPasswordCheckbox">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" pattern="{5}" required>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" name="age" th:field="*{age}" required>
        </div>

        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
</div>

<script>
    const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
    const passwordInput = document.getElementById('password');

    showPasswordCheckbox.addEventListener('change', function() {
        if (showPasswordCheckbox.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
</body>
</html>
